In [1]:
import pymysql
import pandas as pd

In [2]:
host_name = 'localhost'
host_port = 3306
username = 'root'
password = 'lykee424'
database_name = 'sosanggongin'

In [4]:
db = pymysql.connect(
    host = host_name,
    port = host_port,
    user = username,
    passwd = password,
    db = database_name,
    charset = 'utf8'
)

In [5]:
SQL = "SHOW TABLES"

In [6]:
df = pd.read_sql(SQL, db)

In [7]:
df

  Tables_in_sosanggongin
0              community
1               crolling
2                  login
3                  score

In [9]:
SQL = "select * from login"
df = pd.read_sql(SQL, db)
df

Empty DataFrame
Columns: [Id, Password, CompanyRegistrationNumber]
Index: []